textarea {
    width: 100%;
    height: 100px;
    resize: none;
    border: none;
    overflow: auto;
}


.button-container {
    display: flex; /* Set the container to use flexbox */
    margin-bottom: 10px ;
}

.button-container button {
    margin-right: 10px; /* Add some space between buttons */
}


.link-style {
    cursor: pointer;
    color: blue;
}

.link-style:hover {
    color: red;
}

